{% extends "layout.html" %}
{% block title %}Your Todos{% endblock title %}
{% block content %}
    <section>
        <div class="container">
            {% if authorized %}
            <div class="flex justify-between">
                <h1 class="text-2xl">
                    {{todo.title}}
                </h1>
                <form action="/todo/{{todo.id}}/mark/" method="post">
                    {% csrf_token %}
                    <button class="bg-blue-500 px-4 py-2 rounded-sm">
                        Mark as 
                        {% if todo.is_done %}
                        Not Done
                        {% else %}
                        Done
                        {% endif %}
                    </button>
                </form>
            </div>
            <span class="text-sm font-thin text-gray-200">{{todo.user}}</span>
            {% else %}
            <p>You don't have access to this todo.</p>
            {% endif %}
        </div>
    </section>
{% endblock content %}
