{% extends "layout.html" %}
{% block title %}Your Todos{% endblock title %}
{% block content %}
    <section>
        <div class="container">
            <div class="flex flex-row justify-between mb-4">
                <h1 class="text-2xl font-bold">Your Todos</h1>
                <a href="/todo/create/" class="font-bold bg-blue-300 px-3 py-2 rounded-md text-gray-700">Create</a>
            </div>
            {% if todos %}
                <div class="bg-slate-900 p-4 text rounded-md">
                    {% for todo in todos %}
                        <h1 class="text-lg font-bold underline">
                            <a href="/todo/{{todo.id}}">
                                {{todo.title}}
                            </a>
                        </h1>
                        <p class="text-sm">
                            <span class="font-light">{{todo.date}}</span> 
                            by {{todo.user}}</p>
                    {% endfor %}
                </div>
            {% else %}
            <p>There is no todo yet.</p>
            {% endif %}
        </div>
    </section>
{% endblock content %}
