body {
    background-color: black;
    color: whitesmoke;
}
html {
    min-height: 100vh;
}


nav {
    background-color: black;
    border-bottom: 1px solid aqua;
    min-height: 7vh;
}

main {
    padding-top: 2rem;
}

nav  .container  {
    display: flex;
    width: full;
    padding: 1rem 0.5rem;
    justify-content: space-between;
}

nav .links {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .links li {
    list-style: none;
}

nav .title {
    font-size: 2rem;
}

.logout-btn {
    background-color: red;
}