<!DOCTYPE html>
{% load static  %}
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Page Title
        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    {% tailwind_css %}
    {% block morehead %}{% endblock morehead %}
</head>
<body>
    <nav>
        <div class="container">
            {{user}}

            <h1 class="title">Todo</h1>
            <ul class="links">
                <li class="nav-link">
                    <a href="/">Home</a>
                    <a href="/">About</a>
                    {% if user.is_authenticated %}
                    <form action="{% url "users:logout" %}" method="post">
                        {% csrf_token %}
                        <button class="logout-btn btn">Logout</button>
                    </form>
                    {% else %}
                    <a href="{% url "users:login" %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>